<label class="block text-left text-sm font-medium text-gray-700" style="max-width: 300px">
                  <span class="text-gray-700">Skills:</span>
                  <select class="form-multiselect block w-full mt-1" id="skill" multiple>
                    <option value="1">C#</option>
                    <option value="2">Java</option>
                    <option value="3">Html</option>
                    <option value="4">CSS</option>
                    <option value="5">Javascript</option>
                  </select>
</label>

